/*media screen max-width 425px*/
@media (max-width: 425px) {
    p{
        margin-bottom: 0;
    }
    h6{
        font-size: 13px;
    }
    #logo{
        width: 50%;
        height: 60px;
    }
    #logoFooter{
        width: 25%;
    }
    #content-search{
        top: 150%;
    }
    #form-search{
        width: 120%;
    }
    .navbar-toggler-icon{
        width: 20px;
    }
    .navbar-nav{
        font-size: 15px;
    }
    .tag-line{
        font-size: 27px;
    }
    .top-60{
        top: auto;
    }
    .btn-gonow{
        font-size: 13px;
        margin-top: -150%;
    }
    .text {
        font-size: 15px;
    }
    .content{
        margin-top: 5rem;
    }
    .col-11{
        width: 83%;
    }
    .iconArrow{
        width: 17px;
    }
    .cards{
        justify-content: center;
    }
    .card-border{
        width: 21.5rem;
    }
    .card-img{
        width: 20rem;
    }
    .card-title{
        font-size: 16px;
    }
    .card-text{
        font-size: 13px;
    }
    .content-footer{
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
    }
    .ms-auto, .content-footer{
        margin-left: 0px !important
    }
    .radio-check{
        width: 38%;
    }
    .form-check-input{
        width: 10px;
        height: 10px;
    }
    .form-check-label{
        font-size: 10px;
    }
    .col-4{
        width: 50%;
    }
    .span-icon{
        padding-left: 0px !important;
    }
    .icon{
        width: 28px;
    }
    .select-dropdown{
        font-size: 10px;
        padding-left: 30px !important;
    }
    .input-date{
        font-size: 10px;
    }
}
/*media screen min-width 425px dan max-width 474px*/
@media (min-width: 425px) and (max-width: 474px) {
    p{
        margin-bottom: 0;
    }
    h6{
        font-size: 13px;
    }
    #logo{
        width: 50%;
        height: 60px;
    }
    #logoFooter{
        width: 25%;
    }
    #content-search{
        top: 140%;
    }
    #form-search{
        width: 120%;
    }
    .navbar-toggler-icon{
        width: 20px;
    }
    .navbar-nav{
        font-size: 15px;
    }
    .tag-line{
        font-size: 27px;
    }
    .top-60{
        top: auto;
    }
    .btn-gonow{
        font-size: 13px;
        margin-top: -150%;
    }
    .text {
        font-size: 15px;
    }
    .content{
        margin-top: 5rem;
    }
    .col-11{
        width: 83%;
    }
    .iconArrow{
        width: 17px;
    }
    .cards{
        justify-content: center;
    }
    .card-border{
        width: 21.5rem;
    }
    .card-img{
        width: 20rem;
    }
    .card-title{
        font-size: 16px;
    }
    .card-text{
        font-size: 13px;
    }
    .content-footer{
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
    }
    .ms-auto, .content-footer{
        margin-left: 0px !important
    }
    .radio-check{
        width: 38%;
    }
    .form-check-input{
        width: 10px;
        height: 10px;
    }
    .form-check-label{
        font-size: 10px;
    }
    .col-4{
        width: 50%;
    }
    .span-icon{
        padding-left: 0px !important;
    }
    .icon{
        width: 28px;
    }
    .select-dropdown{
        font-size: 10px;
        padding-left: 30px !important;
    }
    .input-date{
        font-size: 10px;
    }
}
/*media screen min-width 474px dan max-width 578px*/
@media (min-width: 474px) and (max-width: 578px) {
    p{
        margin-bottom: 0;
    }
    h6{
        font-size: 13px;
    }
    #logo{
        width: 50%;
        height: 60px;
    }
    #logoFooter{
        width: 25%;
    }
    #content-search{
        top: 120%;
    }
    #form-search{
        width: 120%;
    }
    .navbar-toggler-icon{
        width: 20px;
    }
    .navbar-nav{
        font-size: 15px;
    }
    .tag-line{
        font-size: 27px;
    }
    .top-60{
        top: auto;
    }
    .btn-gonow{
        font-size: 13px;
        margin-top: -150%;
    }
    .text {
        font-size: 15px;
    }
    .content{
        margin-top: 5rem;
    }
    .col-11{
        width: 83%;
    }
    .iconArrow{
        width: 17px;
    }
    .cards{
        justify-content: center;
    }
    .card-border{
        width: 21.5rem;
    }
    .card-img{
        width: 20rem;
    }
    .card-title{
        font-size: 16px;
    }
    .card-text{
        font-size: 13px;
    }
    .content-footer{
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
    }
    .ms-auto, .content-footer{
        margin-left: 0px !important
    }
    .radio-check{
        width: 38%;
    }
    .form-check-input{
        width: 10px;
        height: 10px;
    }
    .form-check-label{
        font-size: 10px;
    }
    .col-4{
        width: 50%;
    }
    .span-icon{
        padding-left: 0px !important;
    }
    .icon{
        width: 28px;
    }
    .select-dropdown{
        font-size: 10px;
        padding-left: 30px !important;
    }
    .input-date{
        font-size: 10px;
    }
}
