.signIn {
  height: 100vh;
  display: flex;
  color: white;
}

.signInAside {
  width: 50%;
  background-color: #5dec6b;
}

.signInForm {
  width: 50%;
  background-color: white;
  padding: 25px 40px;
  overflow: auto;
}

.signInCenter {
  margin-bottom: 100px;
}

.signInTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.signInTitle h1 {
  color: black;
  font-weight: 500;
}
.signInField {
  margin-bottom: 40px;
  margin-top: 20px;
}

.signInFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: black;
}

.signInFieldInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #5dec6b;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.signInFieldsInput::placeholder {
  color: black;
}

.signInFieldbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInFieldButton {
  background-color: #5dec6b;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 500;
}

.signInFieldbutton label {
  color: #66707d;
  font-size: 0.8rem;
}

.signInFieldbutton a {
  color: #5dec6b;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.googleButton button {
  background: #5dec6b;
  border: none;
  margin: 10px;
}

.googleButton svg {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}
