p{
  margin-top: 0;
  margin-bottom: 0;
}
#logoFooter{
  width: 12%;
}
.tag-line{
    font-family: 'Nunito Sans';
    font-size: 96px;
    background: -webkit-linear-gradient(bottom left,#233329, #63D471);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.top-60{
    top: 35rem
}
.input-group-text{
  background-color: white;
}
.bttn{
  background-color: #5DEC6B;
  color: white;
}
.bttn:hover{
  background-color: green;
  color: white;
}
.logoAirplane{
  width: 50%;
}
.mt-10{
  margin-top: 10rem;
}
.mt-7{
  margin-top: 7rem;
}
.mx-10{
  margin-left: 5rem;
  margin-right: 5rem;
}
.my-7{
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.text{
  font-family: 'Nunito Sans';
  font-size: 24px;
  font-weight: bold;
  color: #6E7491;
}
.text-success-400{
  color: #7DB07C;
}
.text-success-900{
  color: #63D471;
}
.price{
  font-family: 'Gill Sans';
}
.card-border{
  width: 26rem;
}
.card-img{
  width: 24rem;
}
.card-schedule{
  width: 70rem;
}
.card-detail-schedule{
  width: 43rem;
}
.card-history{
  width: 50rem;
}
.text-all{
  font-family: 'Nunito Sans';
  font-weight: bold;
  color: #6E7491;
}
.text-footer{
  font-family: 'Nunito Sans';
  color: #6E7491;
}
.text-title-comment{
  font-weight: 400;
  color: #6E7491;
}
.text-comment{
  font-family: 'Nunito Sans';
  font-size: 18px;
}
.rating{
  width: 8%;
  height: 8%;
}
.transuc{
  width: 30rem;
}
.iconFillArrow{
  color:#5DEC6B;
}
